<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MYTGS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MYTGS.Properties.Settings>
            <setting name="TasksPath" serializeAs="String">
                <value>E:\Torca\Documents\MYTGS\MYTGS\bin\Debug\MYTGS\Tasks</value>
            </setting>
            <setting name="LastFetch" serializeAs="String">
                <value>2019-04-21</value>
            </setting>
        </MYTGS.Properties.Settings>
    </userSettings>
</configuration>